* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Marhey', cursive;
}
:root {
    --mainColor: #33A8DB;
    --secondaryColor: #FFFFFF;
    --secondaryColor2: #ffffff8d;
}
body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    direction: rtl;
}
a {
    text-decoration: none;
    color: inherit;
}
/* .cover {
    background-color: rgba(0, 0, 0, 0.505);
    width: 100%;
} */
.container {
    margin: 0 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--mainColor);
}
header nav {
    direction: rtl;
    color: black;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}
header nav a {
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}
header nav a:hover {
    background-color: white;
}
#box {
    width: 50%;
    margin: 200px 0;
    color: var(--secondaryColor);
}
h1 {
    color: var(--mainColor);
    text-shadow: 0 0 10px var(--secondaryColor);
    text-align: right;
}
h2 {
    text-align: right;
    direction: rtl;
}
.amount {
    background-color: var(--secondaryColor2);
    padding: 4px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
    margin: 40px 0;
}
label {
    padding: 4px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.603);
    margin: 1px;
    text-align: right;
    direction: rtl;
}
input {
    padding: 4px;
    margin: 1px;
    background-color: transparent;
    border: transparent;
    color: var(--secondaryColor);
}
input:focus {
    outline: none;
}
.result {
    background-color: var(--secondaryColor2);
    padding: 4px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 5px;
    margin: 40px 0;
}
#sub {
    background-image: linear-gradient(to right, var(--mainColor), var(--secondaryColor));
    padding: 4px;
    width: 50%;
    border-radius: 5px;
    margin: 40px 0;
    cursor: pointer;
    color: black;
}
#shart {
    color: var(--mainColor);
    direction: rtl;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: right;
}
#image {
    width: 25%;
    transform: scale(1);
}
::placeholder {
    color: var(--secondaryColor);
}
footer {
    background-color: var(--mainColor);
    color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
@media (max-width:1097px) {
    h1 {
        text-align: center;
    }
    header nav {
        width: 100%;
    }
    .container {
        margin: 0;
    }
    #box {
        width: 50%;
        margin: 200px auto;
    }
    #image {
        display: none;
    }
    #shart {
        width: 100%;
    }
    #shart ul, #shart ul li{
        width: 100%;
    }
    .amount {
    width: 100%;
    }
    .result {
    width: 100%;
    }
    #sub {
    width: 100%;
    }
} 
@media (max-width:813px) {
    header nav {
        width: 100%;
    }
    .container {
        margin: 0;
    }
    #box {
        width: 80%;
        margin: 200px auto;
    }
    #image {
        display: none;
    }
    #shart {
        width: 100%;
    }
    #shart ul, #shart ul li{
        width: 100%;
    }
    .amount {
    width: 100%;
    }
    .result {
    width: 100%;
    }
    #sub {
    width: 100%;
    }
}
